* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(90deg, #222222, #333);
	font-family: 'Nunito', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Roboto Slab', serif;
}
.txt {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.8rem;
	text-transform: uppercase;
	transition: color 0.25s, text-shadow 0.25s;
}

.txt:hover {
	color: #fccb06;
	text-shadow: 0 0 3px #fccb06;
}
.gold-txt {
	color: #fccb06;
}

nav {
	z-index: 100;
	.nav {
		position: fixed;
		display: flex;
		justify-content: space-between;
		text-align: center;
		height: 10vh;
		z-index: 101;

		.mob-items {
			padding: 0 40px;
		}

		button {
			border: 0;
			padding: 10px;
			background-color: transparent;
			height: auto;
			width: auto;
		}
		.bi {
			font-size: 2.137rem;
		}
	}
	.nav-list {
		position: fixed;
		top: 10vh;
		left: -100%;
		display: block;
		text-align: left;
		list-style: none;
		padding: 15px;
		transition: 0.4s;
		z-index: 100;
	}

	.nav-list.active {
		left: 4vw;
	}
}

header {
	position: relative;
	height: 100vh;
	background-image: url(../media/img/AdobeStock_96460556.jpeg);
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
	transition: 0.3s;
	z-index: 0;
	.hero-text {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
		h1 {
			font-size: 1.8rem;
			margin: 0;
		}
		h2 {
			overflow: hidden;
			border-right: 0.15em solid #fccb06;
			white-space: nowrap;
			animation: typing 4s forwards;
			font-size: 1.4rem;
			width: 0;
		}
		@keyframes typing {
			from {
				width: 0;
			}
			to {
				width: 17rem;
			}
		}
	}
	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.7);
		z-index: -5;
	}
	.bi-chevron-down {
		position: absolute;
		bottom: 60px;
		left: 50%;
	}
}

header.active {
	filter: blur(0.5rem);
}
